body {
    background-color: #444;
    background: url('../images/login-bg.jpg');  
}

main {
    height: 100vh;
}

#login-form-and-logo{
    height: 27rem;
}

.dialogo{
	background:#D8F0FE;
    color:#8B7777;
}

.dialogo h2 {
    font-size: 18px;
}

.dialogo p {
    font-size: 16px;
}